
body{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}
.main {
    font-family: "Fira Sans", sans-serif;
    padding: 15px 0;
  }

  .turn {
    width: 97%;
    margin: 0 auto;
  }
  .table {
    margin: 10 auto;
    text-align: center;
  }

  .box {
    width: 80px;
    height: 80px;
    background: white;
    text-align: center;
    vertical-align: center;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    color:black
  }

  .box:hover {
    background-color: #fce300;
  }

  .table h2 {
    color:rgb(6, 236, 141);
    display: none;
  }

  .table button {
    border: none;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    padding: 5px 7px;
    font-size: 18px;
    cursor: pointer;
    padding: 15px;
    margin: 15px;
    font-weight: 600;
  }

  .table button:hover {
    background-color: #000000;
    color: aliceblue
  }
